@model IEnumerable<Aula004.Models.Imoveis>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Adicionar Imóvel</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Logradouro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quartos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Banheiros)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Logradouro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                    @item.Valor.ToString("C")
            </td>
            <td>
                    @item.Area m²
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quartos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Banheiros)
            </td>
            <td>
                    @Html.ActionLink("✏️", "Edit", new { id = ((List<Imoveis>)Model).IndexOf(item) }) |
                    @Html.ActionLink("👁️", "Details", new { id = ((List<Imoveis>)Model).IndexOf(item) }) |
                    @Html.ActionLink("🗑️", "Delete", new { id = ((List<Imoveis>)Model).IndexOf(item) })
            </td>
        </tr>
}
    </tbody>
</table>
